.pagination {
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    background-color:blueviolet;
    color:aqua;
}

.pagination .active{
    background-color:blueviolet;
    color:aqua;
}